<h1>Play</h1>

<div>
    <img src=@ViewBag.Country alt="argentina" />
    <p></p>
    <p>Country: @ViewBag.CountryName</p>
    <p>List size: @ViewBag.ListSize</p>

    <form asp-action="Play">
        <div class="form-group">
            <input type="submit" style="margin-top: 1rem;" value="Randomize" class="btn btn-primary" />
        </div>
    </form>
</div>
@{
}
