<h1>Play</h1>
<p>hejn</p>
<button asp-controller="Flag" asp-action="preDiff">ssfddsf</button>
<form asp-action="Play">
    <div class="form-group">
        <input type="submit" style="margin: 1rem;" value="1" class="btn btn-primary" name="flagDifficulty"/>
        <input type="submit" style="margin: 1rem;" value="2" class="btn btn-primary" name="flagDifficulty"/>
        <input type="submit" style="margin: 1rem;" value="3" class="btn btn-primary" name="flagDifficulty"/>
    </div>
</form>
@{

}
