<h1>Play</h1>

<form asp-action="PreDiff">
    <div class="form-group">
        <input type="submit" style="margin: 1rem;" value="1" class="btn btn-primary" name="flagDifficulty" />
        <input type="submit" style="margin: 1rem;" value="2" class="btn btn-primary" name="flagDifficulty" />
        <input type="submit" style="margin: 1rem;" value="3" class="btn btn-primary" name="flagDifficulty" />
        <input type="submit" style="margin: 1rem;" value="4" class="btn btn-primary" name="flagDifficulty" />
    </div>
</form>
@{

}
